@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

body, html {
  font-family: "Outfit",
    sans-serif;
    background-color: rgb(30, 30, 54);
    scroll-behavior: smooth;
}